<div class="container">
  <div class="row">
    <div class="offset-md-2 col-lg-8 rounded">
      <h2 class="display-4">My Followers</h2>
      <ul class="list-group shadow">
        <li *ngFor="let follower of followers" class="list-group-item">
          <div class="media">
            <img class="avatar mr-3" [src]="follower.avatar_url" />
            <div class="media-body">
              <h4 class="mt-0 media-heading">
                <a [routerLink]="['/followers', follower.id, follower.login]">{{
                  follower.login
                }}</a>
              </h4>
              <a href="follower.html_url" class="lead">{{
                follower.html_url
              }}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
